Obligatorio/SitioWeb/App_WebReferences/ObligatorioServicio/ServicioEntity.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Logueo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usu" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogueoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogueoResult" type="tns:EMPLEADO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EMPLEADO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contrasenia" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BuscoEmpleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usu" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscoEmpleadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscoEmpleadoResult" type="tns:EMPLEADO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaEmpleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unE" type="tns:EMPLEADO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaEmpleadoResponse">
        <s:complexType />
      </s:element>
      <s:element name="BuscoSeccion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pcod" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscoSeccionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscoSeccionResult" type="tns:SECCION" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SECCION">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodigoSeccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AltaSeccion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unaS" type="tns:SECCION" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaSeccionResponse">
        <s:complexType />
      </s:element>
      <s:element name="ModificoSeccion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unaS" type="tns:SECCION" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificoSeccionResponse">
        <s:complexType />
      </s:element>
      <s:element name="EliminoSeccion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unaS" type="tns:SECCION" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminoSeccionResponse">
        <s:complexType />
      </s:element>
      <s:element name="ListoSecciones">
        <s:complexType />
      </s:element>
      <s:element name="ListoSeccionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListoSeccionesResult" type="tns:ArrayOfSECCION" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSECCION">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SECCION" nillable="true" type="tns:SECCION" />
        </s:sequence>
      </s:complexType>
      <s:element name="BuscoPeriodista">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pced" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscoPeriodistaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscoPeriodistaResult" type="tns:PERIODISTA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PERIODISTA">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Cedula" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mail" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AltaPeriodista">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unP" type="tns:PERIODISTA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaPeriodistaResponse">
        <s:complexType />
      </s:element>
      <s:element name="ModificoPeriodista">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unP" type="tns:PERIODISTA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificoPeriodistaResponse">
        <s:complexType />
      </s:element>
      <s:element name="EliminoPeriodista">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unP" type="tns:PERIODISTA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminoPeriodistaResponse">
        <s:complexType />
      </s:element>
      <s:element name="BuscoNoticia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pcod" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscoNoticiaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscoNoticiaResult" type="tns:NOTICIA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="NOTICIA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodigoNoticia" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Titulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cuerpo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Importancia" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoSeccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMPLEADO" type="tns:EMPLEADO" />
          <s:element minOccurs="0" maxOccurs="1" name="SECCION" type="tns:SECCION" />
          <s:element minOccurs="0" maxOccurs="1" name="PERIODISTA" type="tns:ArrayOfPERIODISTA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPERIODISTA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PERIODISTA" nillable="true" type="tns:PERIODISTA" />
        </s:sequence>
      </s:complexType>
      <s:element name="AltaNoticia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unaN" type="tns:NOTICIA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaNoticiaResponse">
        <s:complexType />
      </s:element>
      <s:element name="ModificoNoticia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unaN" type="tns:NOTICIA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificoNoticiaResponse">
        <s:complexType />
      </s:element>
      <s:element name="ListoNoticias">
        <s:complexType />
      </s:element>
      <s:element name="ListoNoticiasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListoNoticiasResult" type="tns:ArrayOfNOTICIA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfNOTICIA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NOTICIA" nillable="true" type="tns:NOTICIA" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListoNoticiasPorFecha">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListoNoticiasPorFechaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListoNoticiasPorFechaResult" type="tns:ArrayOfNOTICIA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListoNoticiasPorSeccion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unaS" type="tns:SECCION" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListoNoticiasPorSeccionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListoNoticiasPorSeccionResult" type="tns:ArrayOfNOTICIA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListoNoticiasPorSeccionyFecha">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unaS" type="tns:SECCION" />
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListoNoticiasPorSeccionyFechaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListoNoticiasPorSeccionyFechaResult" type="tns:ArrayOfNOTICIA" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LogueoSoapIn">
    <wsdl:part name="parameters" element="tns:Logueo" />
  </wsdl:message>
  <wsdl:message name="LogueoSoapOut">
    <wsdl:part name="parameters" element="tns:LogueoResponse" />
  </wsdl:message>
  <wsdl:message name="BuscoEmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:BuscoEmpleado" />
  </wsdl:message>
  <wsdl:message name="BuscoEmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:BuscoEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="AltaEmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:AltaEmpleado" />
  </wsdl:message>
  <wsdl:message name="AltaEmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:AltaEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="BuscoSeccionSoapIn">
    <wsdl:part name="parameters" element="tns:BuscoSeccion" />
  </wsdl:message>
  <wsdl:message name="BuscoSeccionSoapOut">
    <wsdl:part name="parameters" element="tns:BuscoSeccionResponse" />
  </wsdl:message>
  <wsdl:message name="AltaSeccionSoapIn">
    <wsdl:part name="parameters" element="tns:AltaSeccion" />
  </wsdl:message>
  <wsdl:message name="AltaSeccionSoapOut">
    <wsdl:part name="parameters" element="tns:AltaSeccionResponse" />
  </wsdl:message>
  <wsdl:message name="ModificoSeccionSoapIn">
    <wsdl:part name="parameters" element="tns:ModificoSeccion" />
  </wsdl:message>
  <wsdl:message name="ModificoSeccionSoapOut">
    <wsdl:part name="parameters" element="tns:ModificoSeccionResponse" />
  </wsdl:message>
  <wsdl:message name="EliminoSeccionSoapIn">
    <wsdl:part name="parameters" element="tns:EliminoSeccion" />
  </wsdl:message>
  <wsdl:message name="EliminoSeccionSoapOut">
    <wsdl:part name="parameters" element="tns:EliminoSeccionResponse" />
  </wsdl:message>
  <wsdl:message name="ListoSeccionesSoapIn">
    <wsdl:part name="parameters" element="tns:ListoSecciones" />
  </wsdl:message>
  <wsdl:message name="ListoSeccionesSoapOut">
    <wsdl:part name="parameters" element="tns:ListoSeccionesResponse" />
  </wsdl:message>
  <wsdl:message name="BuscoPeriodistaSoapIn">
    <wsdl:part name="parameters" element="tns:BuscoPeriodista" />
  </wsdl:message>
  <wsdl:message name="BuscoPeriodistaSoapOut">
    <wsdl:part name="parameters" element="tns:BuscoPeriodistaResponse" />
  </wsdl:message>
  <wsdl:message name="AltaPeriodistaSoapIn">
    <wsdl:part name="parameters" element="tns:AltaPeriodista" />
  </wsdl:message>
  <wsdl:message name="AltaPeriodistaSoapOut">
    <wsdl:part name="parameters" element="tns:AltaPeriodistaResponse" />
  </wsdl:message>
  <wsdl:message name="ModificoPeriodistaSoapIn">
    <wsdl:part name="parameters" element="tns:ModificoPeriodista" />
  </wsdl:message>
  <wsdl:message name="ModificoPeriodistaSoapOut">
    <wsdl:part name="parameters" element="tns:ModificoPeriodistaResponse" />
  </wsdl:message>
  <wsdl:message name="EliminoPeriodistaSoapIn">
    <wsdl:part name="parameters" element="tns:EliminoPeriodista" />
  </wsdl:message>
  <wsdl:message name="EliminoPeriodistaSoapOut">
    <wsdl:part name="parameters" element="tns:EliminoPeriodistaResponse" />
  </wsdl:message>
  <wsdl:message name="BuscoNoticiaSoapIn">
    <wsdl:part name="parameters" element="tns:BuscoNoticia" />
  </wsdl:message>
  <wsdl:message name="BuscoNoticiaSoapOut">
    <wsdl:part name="parameters" element="tns:BuscoNoticiaResponse" />
  </wsdl:message>
  <wsdl:message name="AltaNoticiaSoapIn">
    <wsdl:part name="parameters" element="tns:AltaNoticia" />
  </wsdl:message>
  <wsdl:message name="AltaNoticiaSoapOut">
    <wsdl:part name="parameters" element="tns:AltaNoticiaResponse" />
  </wsdl:message>
  <wsdl:message name="ModificoNoticiaSoapIn">
    <wsdl:part name="parameters" element="tns:ModificoNoticia" />
  </wsdl:message>
  <wsdl:message name="ModificoNoticiaSoapOut">
    <wsdl:part name="parameters" element="tns:ModificoNoticiaResponse" />
  </wsdl:message>
  <wsdl:message name="ListoNoticiasSoapIn">
    <wsdl:part name="parameters" element="tns:ListoNoticias" />
  </wsdl:message>
  <wsdl:message name="ListoNoticiasSoapOut">
    <wsdl:part name="parameters" element="tns:ListoNoticiasResponse" />
  </wsdl:message>
  <wsdl:message name="ListoNoticiasPorFechaSoapIn">
    <wsdl:part name="parameters" element="tns:ListoNoticiasPorFecha" />
  </wsdl:message>
  <wsdl:message name="ListoNoticiasPorFechaSoapOut">
    <wsdl:part name="parameters" element="tns:ListoNoticiasPorFechaResponse" />
  </wsdl:message>
  <wsdl:message name="ListoNoticiasPorSeccionSoapIn">
    <wsdl:part name="parameters" element="tns:ListoNoticiasPorSeccion" />
  </wsdl:message>
  <wsdl:message name="ListoNoticiasPorSeccionSoapOut">
    <wsdl:part name="parameters" element="tns:ListoNoticiasPorSeccionResponse" />
  </wsdl:message>
  <wsdl:message name="ListoNoticiasPorSeccionyFechaSoapIn">
    <wsdl:part name="parameters" element="tns:ListoNoticiasPorSeccionyFecha" />
  </wsdl:message>
  <wsdl:message name="ListoNoticiasPorSeccionyFechaSoapOut">
    <wsdl:part name="parameters" element="tns:ListoNoticiasPorSeccionyFechaResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioEntitySoap">
    <wsdl:operation name="Logueo">
      <wsdl:input message="tns:LogueoSoapIn" />
      <wsdl:output message="tns:LogueoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscoEmpleado">
      <wsdl:input message="tns:BuscoEmpleadoSoapIn" />
      <wsdl:output message="tns:BuscoEmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AltaEmpleado">
      <wsdl:input message="tns:AltaEmpleadoSoapIn" />
      <wsdl:output message="tns:AltaEmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscoSeccion">
      <wsdl:input message="tns:BuscoSeccionSoapIn" />
      <wsdl:output message="tns:BuscoSeccionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AltaSeccion">
      <wsdl:input message="tns:AltaSeccionSoapIn" />
      <wsdl:output message="tns:AltaSeccionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificoSeccion">
      <wsdl:input message="tns:ModificoSeccionSoapIn" />
      <wsdl:output message="tns:ModificoSeccionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminoSeccion">
      <wsdl:input message="tns:EliminoSeccionSoapIn" />
      <wsdl:output message="tns:EliminoSeccionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListoSecciones">
      <wsdl:input message="tns:ListoSeccionesSoapIn" />
      <wsdl:output message="tns:ListoSeccionesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscoPeriodista">
      <wsdl:input message="tns:BuscoPeriodistaSoapIn" />
      <wsdl:output message="tns:BuscoPeriodistaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AltaPeriodista">
      <wsdl:input message="tns:AltaPeriodistaSoapIn" />
      <wsdl:output message="tns:AltaPeriodistaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificoPeriodista">
      <wsdl:input message="tns:ModificoPeriodistaSoapIn" />
      <wsdl:output message="tns:ModificoPeriodistaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminoPeriodista">
      <wsdl:input message="tns:EliminoPeriodistaSoapIn" />
      <wsdl:output message="tns:EliminoPeriodistaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscoNoticia">
      <wsdl:input message="tns:BuscoNoticiaSoapIn" />
      <wsdl:output message="tns:BuscoNoticiaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AltaNoticia">
      <wsdl:input message="tns:AltaNoticiaSoapIn" />
      <wsdl:output message="tns:AltaNoticiaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificoNoticia">
      <wsdl:input message="tns:ModificoNoticiaSoapIn" />
      <wsdl:output message="tns:ModificoNoticiaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListoNoticias">
      <wsdl:input message="tns:ListoNoticiasSoapIn" />
      <wsdl:output message="tns:ListoNoticiasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListoNoticiasPorFecha">
      <wsdl:input message="tns:ListoNoticiasPorFechaSoapIn" />
      <wsdl:output message="tns:ListoNoticiasPorFechaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListoNoticiasPorSeccion">
      <wsdl:input message="tns:ListoNoticiasPorSeccionSoapIn" />
      <wsdl:output message="tns:ListoNoticiasPorSeccionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListoNoticiasPorSeccionyFecha">
      <wsdl:input message="tns:ListoNoticiasPorSeccionyFechaSoapIn" />
      <wsdl:output message="tns:ListoNoticiasPorSeccionyFechaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioEntitySoap" type="tns:ServicioEntitySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Logueo">
      <soap:operation soapAction="http://tempuri.org/Logueo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscoEmpleado">
      <soap:operation soapAction="http://tempuri.org/BuscoEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaEmpleado">
      <soap:operation soapAction="http://tempuri.org/AltaEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscoSeccion">
      <soap:operation soapAction="http://tempuri.org/BuscoSeccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaSeccion">
      <soap:operation soapAction="http://tempuri.org/AltaSeccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificoSeccion">
      <soap:operation soapAction="http://tempuri.org/ModificoSeccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminoSeccion">
      <soap:operation soapAction="http://tempuri.org/EliminoSeccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListoSecciones">
      <soap:operation soapAction="http://tempuri.org/ListoSecciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscoPeriodista">
      <soap:operation soapAction="http://tempuri.org/BuscoPeriodista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaPeriodista">
      <soap:operation soapAction="http://tempuri.org/AltaPeriodista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificoPeriodista">
      <soap:operation soapAction="http://tempuri.org/ModificoPeriodista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminoPeriodista">
      <soap:operation soapAction="http://tempuri.org/EliminoPeriodista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscoNoticia">
      <soap:operation soapAction="http://tempuri.org/BuscoNoticia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaNoticia">
      <soap:operation soapAction="http://tempuri.org/AltaNoticia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificoNoticia">
      <soap:operation soapAction="http://tempuri.org/ModificoNoticia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListoNoticias">
      <soap:operation soapAction="http://tempuri.org/ListoNoticias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListoNoticiasPorFecha">
      <soap:operation soapAction="http://tempuri.org/ListoNoticiasPorFecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListoNoticiasPorSeccion">
      <soap:operation soapAction="http://tempuri.org/ListoNoticiasPorSeccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListoNoticiasPorSeccionyFecha">
      <soap:operation soapAction="http://tempuri.org/ListoNoticiasPorSeccionyFecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioEntitySoap12" type="tns:ServicioEntitySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Logueo">
      <soap12:operation soapAction="http://tempuri.org/Logueo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscoEmpleado">
      <soap12:operation soapAction="http://tempuri.org/BuscoEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaEmpleado">
      <soap12:operation soapAction="http://tempuri.org/AltaEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscoSeccion">
      <soap12:operation soapAction="http://tempuri.org/BuscoSeccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaSeccion">
      <soap12:operation soapAction="http://tempuri.org/AltaSeccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificoSeccion">
      <soap12:operation soapAction="http://tempuri.org/ModificoSeccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminoSeccion">
      <soap12:operation soapAction="http://tempuri.org/EliminoSeccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListoSecciones">
      <soap12:operation soapAction="http://tempuri.org/ListoSecciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscoPeriodista">
      <soap12:operation soapAction="http://tempuri.org/BuscoPeriodista" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaPeriodista">
      <soap12:operation soapAction="http://tempuri.org/AltaPeriodista" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificoPeriodista">
      <soap12:operation soapAction="http://tempuri.org/ModificoPeriodista" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminoPeriodista">
      <soap12:operation soapAction="http://tempuri.org/EliminoPeriodista" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscoNoticia">
      <soap12:operation soapAction="http://tempuri.org/BuscoNoticia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaNoticia">
      <soap12:operation soapAction="http://tempuri.org/AltaNoticia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificoNoticia">
      <soap12:operation soapAction="http://tempuri.org/ModificoNoticia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListoNoticias">
      <soap12:operation soapAction="http://tempuri.org/ListoNoticias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListoNoticiasPorFecha">
      <soap12:operation soapAction="http://tempuri.org/ListoNoticiasPorFecha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListoNoticiasPorSeccion">
      <soap12:operation soapAction="http://tempuri.org/ListoNoticiasPorSeccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListoNoticiasPorSeccionyFecha">
      <soap12:operation soapAction="http://tempuri.org/ListoNoticiasPorSeccionyFecha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioEntity">
    <wsdl:port name="ServicioEntitySoap" binding="tns:ServicioEntitySoap">
      <soap:address location="http://localhost/ObligatorioServicio/ServicioEntity.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioEntitySoap12" binding="tns:ServicioEntitySoap12">
      <soap12:address location="http://localhost/ObligatorioServicio/ServicioEntity.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>